h1 {
    color: coral;
    border: solid 3px black;    
    border-radius: 100px;
    background-color: yellow;
    font-family: Comic Sans MS;
}

h2 {
    color: coral;
}

div {
    text-align: center;
}

